body {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

h1, h2, h3 {
    font-family: 'Neuton', Times, 'Times New Roman', serif;
}

a:link, a:hover, a:visited {
    text-decoration: none;
    color: maroon;
}

pre {
    padding: 5px;
    border: 1px solid #ccc;
    background-color: #eee;
}
